.table-filter-object .filter-top {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 100%;
}

.table-filter-object .filter-top span {
    cursor: pointer;
    color: var(--link-text-1);
}

.table-filter-object .filter-top:hover span {
    color: var(--link-hover-text-1);
}

.table-filter-object .filter-top button {
    margin-left: .8em;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.table-filter-object .filter-top button.inactive {
    color: var(--link-text-1);
}

.table-filter-object .filter-top button.active {
    color: #8BE234;
}

.table-filter-object .filter-top:hover button.inactive {
    color: var(--link-hover-text-1);
}

.table-filter-object .filter-top:hover button.active {
    color: rgb(108, 197, 19);
}

.table-filter-object .filter-bottom {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 40em;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 8em;
    top: 1.75em;
    left: 0em;
    background: rgb(255, 255, 255);
    padding: .2em .4em;
    gap: .2em;
    border: .1em solid grey;
}

.table-filter-object .filter-bottom button {
    font-weight: bold;
    border: none;
    background: var(--telus-color-1);
    color: var(--link-text-1);
    cursor: pointer;
    border-radius: .2em;
    outline: none;
    user-select: none;
}

.table-filter-object .filter-bottom button:hover {
    color: var(--link-hover-text-1);
}

.table-filter-object .filter-bottom .table-filter-row {
    display: flex;
    flex-direction: row;
}

.table-filter-object .filter-bottom .table-filter-row input {
    cursor: pointer;
    accent-color: #8BE234;
}

.table-filter-object .filter-bottom .table-filter-row label {
    padding-left: .3em;
    cursor: pointer;
    user-select: none;
}