#modalBookSession2Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#modalBookSession2Backdrop #mainContainer {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    background: #C0D0EC;
    position: absolute;
    border-radius: .2em;
    overflow: hidden;
}

#modalBookSession2Backdrop #mainContainer #header {
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background: var(--telus-color-1);
    color: var(--link-text-1);
    font-size: 1.3em;
}

#modalBookSession2Backdrop #mainContainer #subHeader {
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background: var(--telus-color-1);
    color: var(--link-text-1);
}

#modalBookSession2Backdrop #mainContainer #tableContainer {
    height: 100%;
    overflow-x: auto;
    padding: 1em;
}

#modalBookSession2Backdrop #mainContainer table {
    border-collapse: collapse;
}

#modalBookSession2Backdrop #mainContainer table th {
    width: 8em;
    min-width: 8em;
    border: 1px solid gray;
    background: var(--telus-color-1);
    color: var(--link-text-1);
    padding: .5em 0em;
}

#modalBookSession2Backdrop #mainContainer table td {
    width: 8em;
    min-width: 8em;
    border: 1px solid gray;
    padding: .5em 0em;
    text-align: center;
    font-weight: bold;
}

#modalBookSession2Backdrop #mainContainer table td.free-sessions {
    background: rgb(103, 237, 185);
    cursor: pointer;
}

#modalBookSession2Backdrop #mainContainer table td.free-sessions:hover {
    background: rgb(206, 246, 231);
}

#modalBookSession2Backdrop #mainContainer table td.booked-sessions {
    cursor: not-allowed;
    background: rgb(237, 103, 103);
}