#participants #participantFilter {
    display: inline-flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em 1em;
    outline: none;
    min-height: 26em;
    overflow-x: auto;
}

#participants #participantFilter .filter-column {
    display: inline-flex;
    flex-direction: column;
    gap: .5em;
}

#participants #participantFilter .filter-main-container {
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    border-radius: .3em;
}

#participants #participantFilter .inner-header {
    text-align: center;
    font-weight: bold;
}

#participants #participantFilter .main-filter-container {
    background: red;
}

#participants #participantFilter .filter-container {
    display: inline-flex;
    flex-direction: column;
    gap: .5em;
    flex-grow: 1;
    padding: .5em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

#participants #participantFilter .gap {
    margin-top: .5em;
}

#participants #participantFilter .filter-header {
    font-weight: bold;
    text-align: center;
    user-select: none;
    background: var(--telus-color-1);
    color: var(--link-text-1);
    padding: 0 1em;
    border-radius: .3em .3em 0 0;
}

#participants #participantFilter .checkbox-filter {
    display: flex;
    flex-direction: row;
}

#participants #participantFilter .checkbox-filter label {
    padding: 0 .3em;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

#participants #participantFilter .filter-element {
    display: inline-flex;
    flex-direction: column;
    gap: .3em;
}

#participants #participantFilter .date-selector-element {
    display: flex;
    flex-direction: row;
    gap: .3em;
}

#participants #participantFilter .date-selector-element input {
    border: 1px solid gray;
    width: 50%;
    padding: .1em .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    border-radius: .3em;
}

#participants #participantFilter .filter-element span {
    font-weight: bold;
    text-align: center;
}

#participants #participantFilter input[type=checkbox] {
    cursor: pointer;
    accent-color: var(--telus-color-2);
    outline: none;
}

#participants #participantFilter .filter-element .main-input {
    border: 1px solid gray;
    width: 17em;
    padding: .1em .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    border-radius: .3em;
}

#participants #participantFilter .filter-element input::-webkit-outer-spin-button,
#participants #participantFilter .filter-element input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#participants #participantFilter #resetFilter {
    width: 100%;
    margin: .2em auto;
    font-weight: bold;
    font-size: .9em;
    border: none;
    background: var(--telus-color-1);
    color: var(--link-text-1);
    padding: .2em 0;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    border-radius: .3em;
}

#participants #participantFilter #resetFilter:hover {
    color: var(--link-hover-text-1);
}

#participants #participantFilter .filter-this-button {
    margin-left: auto;
    width: 1.2em;
    height: 1.1em;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: var(--telus-color-2);
    font-size: .9em;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    opacity: .3;
    border-radius: .1em;
}

#participants #participantFilter .filter-this-button:hover {
    opacity: unset;
}