#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .25em;
    gap: 1em;
    background: white;
    overflow: hidden;
    height: 1.85em;
    min-height: 1.85em;
    max-height: 1.85em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
    z-index: 100;
}

#navbar span {
    position: absolute;
    top: 0.15em;
    left: 20em;
    font-weight: bold;
    background-color: rgb(75, 40, 109);
    color: white;
    border-radius: 3px;
    line-height: 1;
    padding: 0.25em;
}

#navbar a {
    padding: 0 .5em;
    border: none;
    background: transparent;
    color: var(--link-text-1);
    font-weight: bold;
    font-size: .9em;
    outline: none;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    margin: auto 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    line-height: 1.2em;
    user-select: none;

}

#navbar a:hover {
    color: var(--link-hover-text-1);
}

#navbar .selected {
    border-left: .5em solid var(--telus-color-3);
}

#navbar img {
    position: absolute;
    left: .5em;
    height: 1.2em;
    margin: auto 0;
}